@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff2cc;
    font-family: Inconsolata, light;
    font-weight: 200;
    color: #0e540e;
}

/* headings and logo */

h1, h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #0e540e;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 35px;
    margin-bottom: 45px;
    margin-top: 50px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    
}

#menu, #logo {
    line-height: 10px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
    margin-top: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #0e540e;
}

.active {
    border-bottom: 1px solid #0e540e;
}

/* ambulance image and cover-text */

#ambulance-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: inherit;
}

#cover-text h2, #cover-text h3 {
    color: #0e540e;
}


#ambulance-image {
    height: 500px;
    width: 100%;
    background: url(../images/ambu1.jpg) no-repeat center center;

}

#cover-text {
    font-size: 100%;
    font-family: Inconsolata, light;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 200px;
    height: 120px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    background-color: rgba(177, 219, 39, 0.7);

    bottom: 100px;
    left: 500px;

    position: absolute;
}

/* about */

#about {
    height: 500px;
}

#left-about {
    padding-top: 50px;
    width: 25%;
    float: left;
    
}

#right-about {
    padding-top: 50px;
    width: 25%;
    float: right;
    
}

#center-about {
    width: 25%;
    margin: 0 auto;
    
}

hr {
    border-top: 2px solid #0e540e;
    width: 125%;
    margin: 3px 0;
}

.left-about-heading {
    width: 70%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

.right-about-heading {
    width: 70%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 40px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 450px;
    padding: 10px;
    border-style: solid;
    border-color: #7fff00;
    border-width: 8px;
    border-radius: 50%;
    
}

#circle-cover-bg {
    background: url(../images/para2.jpg) no-repeat center center;
    height: 100%;
    border-radius: 70%;
}