@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inconsolata, light;
    font-weight: 300;
    color: #0e540e;
}

/* headings and logo */

h1, h2 {
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0e540e;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #272424;
}

.active {
    border-bottom: 1px solid #272424;
}

/* ambulance image and cover-text */

#ambulance-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: inherit;
}

#cover-text h2, #cover-text h3 {
    color: #043107;
}


#ambulance-image {
    height: 600px;
    width: 100%;
    background: url(../images/ambu1.jpg) no-repeat center center;


/* animates zoom effect on loading page */

    animation-name: ambulance-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for ambulance image */

@keyframes ambulance-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Inconsolata, light;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(177, 219, 39, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* about */

#about {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: green;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: silver;
}